# Description of micro credit

Variable	Definition	Comment
label	Flag indicating whether the user paid back the credit amount within 5 days of issuing the loan{1:success, 0:failure}	
msisdn	mobile number of user	
aon	age on cellular network in days	
daily_decr30	Daily amount spent from main account, averaged over last 30 days (in Indonesian Rupiah)	
daily_decr90	Daily amount spent from main account, averaged over last 90 days (in Indonesian Rupiah)	
rental30	Average main account balance over last 30 days	Unsure of given definition
rental90	Average main account balance over last 90 days	Unsure of given definition
last_rech_date_ma	Number of days till last recharge of main account	
last_rech_date_da	Number of days till last recharge of data account	
last_rech_amt_ma	Amount of last recharge of main account (in Indonesian Rupiah)	
cnt_ma_rech30	Number of times main account got recharged in last 30 days	
fr_ma_rech30	Frequency of main account recharged in last 30 days	Unsure of given definition
sumamnt_ma_rech30	Total amount of recharge in main account over last 30 days (in Indonesian Rupiah)	
medianamnt_ma_rech30	Median of amount of recharges done in main account over last 30 days at user level (in Indonesian Rupiah)	
medianmarechprebal30	Median of main account balance just before recharge in last 30 days at user level (in Indonesian Rupiah)	
cnt_ma_rech90	Number of times main account got recharged in last 90 days	
fr_ma_rech90	Frequency of main account recharged in last 90 days	Unsure of given definition
sumamnt_ma_rech90	Total amount of recharge in main account over last 90 days (in Indonasian Rupiah)	
medianamnt_ma_rech90	Median of amount of recharges done in main account over last 90 days at user level (in Indonasian Rupiah)	
medianmarechprebal90	Median of main account balance just before recharge in last 90 days at user level (in Indonasian Rupiah)	
cnt_da_rech30	Number of times data account got recharged in last 30 days	
fr_da_rech30	Frequency of data account recharged in last 30 days	
cnt_da_rech90	Number of times data account got recharged in last 90 days	
fr_da_rech90	Frequency of data account recharged in last 90 days	
cnt_loans30	Number of loans taken by user in last 30 days	
amnt_loans30	Total amount of loans taken by user in last 30 days	
maxamnt_loans30	maximum amount of loan taken by the user in last 30 days	There are only two options: 5 & 10 Rs., for which the user needs to pay back 6 & 12 Rs. respectively
medianamnt_loans30	Median of amounts of loan taken by the user in last 30 days	
cnt_loans90	Number of loans taken by user in last 90 days	
amnt_loans90	Total amount of loans taken by user in last 90 days	
maxamnt_loans90	maximum amount of loan taken by the user in last 90 days	
medianamnt_loans90	Median of amounts of loan taken by the user in last 90 days	
payback30	Average payback time in days over last 30 days	
payback90	Average payback time in days over last 90 days	
pcircle	telecom circle	
pdate	date

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sn 
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('micro_credit.csv')
df.head()

  \tlabel\tmsisdn\taon\tdaily_decr30\tdaily_decr90\trental30\trental90\tlast_rech_date_ma\tlast_rech_date_da\tlast_rech_amt_ma\tcnt_ma_rech30\tfr_ma_rech30\tsumamnt_ma_rech30\tmedianamnt_ma_rech30\tmedianmarechprebal30\tcnt_ma_rech90\tfr_ma_rech90\tsumamnt_ma_rech90\tmedianamnt_ma_rech90\tmedianmarechprebal90\tcnt_da_rech30\tfr_da_rech30\tcnt_da_rech90\tfr_da_rech90\tcnt_loans30\tamnt_loans30\tmaxamnt_loans30\tmedianamnt_loans30\tcnt_loans90\tamnt_loans90\tmaxamnt_loans90\tmedianamnt_loans90\tpayback30\tpayback90\tpcircle\tpdate
0  1\t0\t21408I70789\t272\t3055.05\t3065.15\t220....
1  2\t1\t76462I70374\t712\t12122\t12124.75\t3691....
2  3\t1\t17943I70372\t535\t1398\t1398\t900.13\t90...
3  4\t1\t55773I70781\t241\t21.228\t21.228\t159.42...
4  5\t1\t03813I82730\t947\t150.6193333\t150.61933...

In [3]:
df = pd.read_csv('micro_credit.csv')

In [4]:
df

       \tlabel\tmsisdn\taon\tdaily_decr30\tdaily_decr90\trental30\trental90\tlast_rech_date_ma\tlast_rech_date_da\tlast_rech_amt_ma\tcnt_ma_rech30\tfr_ma_rech30\tsumamnt_ma_rech30\tmedianamnt_ma_rech30\tmedianmarechprebal30\tcnt_ma_rech90\tfr_ma_rech90\tsumamnt_ma_rech90\tmedianamnt_ma_rech90\tmedianmarechprebal90\tcnt_da_rech30\tfr_da_rech30\tcnt_da_rech90\tfr_da_rech90\tcnt_loans30\tamnt_loans30\tmaxamnt_loans30\tmedianamnt_loans30\tcnt_loans90\tamnt_loans90\tmaxamnt_loans90\tmedianamnt_loans90\tpayback30\tpayback90\tpcircle\tpdate
0       1\t0\t21408I70789\t272\t3055.05\t3065.15\t220....
1       2\t1\t76462I70374\t712\t12122\t12124.75\t3691....
2       3\t1\t17943I70372\t535\t1398\t1398\t900.13\t90...
3       4\t1\t55773I70781\t241\t21.228\t21.228\t159.42...
4       5\t1\t03813I82730\t947\t150.6193333\t150.61933...
...                                                   ...
209588  209589\t1\t22758I85348\t404\t151.8723333\t151....
209589  209590\t1\t95583I84455\t1075\t36.936\t36.936\t...
209590  209591\t1\t28556I85350\t1013\t11843.11167\t119...
209591  209592\t1\t59712I82733\t1732\t12488.22833\t125...
209592  209593\t1\t65061I85339\t1581\t4489.362\t4534.8...

[209593 rows x 1 columns]

In [5]:
df.shape

(209593, 1)

In [6]:
df.dtypes

\tlabel\tmsisdn\taon\tdaily_decr30\tdaily_decr90\trental30\trental90\tlast_rech_date_ma\tlast_rech_date_da\tlast_rech_amt_ma\tcnt_ma_rech30\tfr_ma_rech30\tsumamnt_ma_rech30\tmedianamnt_ma_rech30\tmedianmarechprebal30\tcnt_ma_rech90\tfr_ma_rech90\tsumamnt_ma_rech90\tmedianamnt_ma_rech90\tmedianmarechprebal90\tcnt_da_rech30\tfr_da_rech30\tcnt_da_rech90\tfr_da_rech90\tcnt_loans30\tamnt_loans30\tmaxamnt_loans30\tmedianamnt_loans30\tcnt_loans90\tamnt_loans90\tmaxamnt_loans90\tmedianamnt_loans90\tpayback30\tpayback90\tpcircle\tpdate    object
dtype: object

In [7]:
df.describe()

       \tlabel\tmsisdn\taon\tdaily_decr30\tdaily_decr90\trental30\trental90\tlast_rech_date_ma\tlast_rech_date_da\tlast_rech_amt_ma\tcnt_ma_rech30\tfr_ma_rech30\tsumamnt_ma_rech30\tmedianamnt_ma_rech30\tmedianmarechprebal30\tcnt_ma_rech90\tfr_ma_rech90\tsumamnt_ma_rech90\tmedianamnt_ma_rech90\tmedianmarechprebal90\tcnt_da_rech30\tfr_da_rech30\tcnt_da_rech90\tfr_da_rech90\tcnt_loans30\tamnt_loans30\tmaxamnt_loans30\tmedianamnt_loans30\tcnt_loans90\tamnt_loans90\tmaxamnt_loans90\tmedianamnt_loans90\tpayback30\tpayback90\tpcircle\tpdate
count                                              209593
unique                                             209593
top     137976\t1\t99344I70376\t264\t3835.333333\t3870...
freq                                                    1

In [8]:
df.isnull().sum()

\tlabel\tmsisdn\taon\tdaily_decr30\tdaily_decr90\trental30\trental90\tlast_rech_date_ma\tlast_rech_date_da\tlast_rech_amt_ma\tcnt_ma_rech30\tfr_ma_rech30\tsumamnt_ma_rech30\tmedianamnt_ma_rech30\tmedianmarechprebal30\tcnt_ma_rech90\tfr_ma_rech90\tsumamnt_ma_rech90\tmedianamnt_ma_rech90\tmedianmarechprebal90\tcnt_da_rech30\tfr_da_rech30\tcnt_da_rech90\tfr_da_rech90\tcnt_loans30\tamnt_loans30\tmaxamnt_loans30\tmedianamnt_loans30\tcnt_loans90\tamnt_loans90\tmaxamnt_loans90\tmedianamnt_loans90\tpayback30\tpayback90\tpcircle\tpdate    0
dtype: int64

In [9]:
df.info('micro_credit.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209593 entries, 0 to 209592
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Non-Null Count   Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            --------------   -----
 0   	label	msisdn	aon	daily_decr30	daily_decr90	rental30	rental90	last_rech_date_ma	last_rech_date_da	last_rech_amt_ma	cnt_ma_rech30	fr_ma_rech30	sumamnt_ma_rech30	medianamnt_ma_rech30	medianmarechprebal30	cnt_ma_rech90	fr_ma_rech90	sumamnt_ma_rech90	medianamnt_ma_rech90	medianmarechprebal90	cnt_da_rech30	fr_da_rech30	cnt_da_rech90	fr_da_rech90	cnt_loans30	amnt_loans30	maxamnt_loans30	medianamnt_loans30	cnt_loans90	amnt_loans90	maxamnt_loans90	medianamnt_loans90	payback30	payback90	pcircle	pdate  209593 non-null  object
dtypes: object(1)
memory usage: 1.6+ MB

In [10]:
# Looking unique values

In [11]:
print(df.nunique())

\tlabel\tmsisdn\taon\tdaily_decr30\tdaily_decr90\trental30\trental90\tlast_rech_date_ma\tlast_rech_date_da\tlast_rech_amt_ma\tcnt_ma_rech30\tfr_ma_rech30\tsumamnt_ma_rech30\tmedianamnt_ma_rech30\tmedianmarechprebal30\tcnt_ma_rech90\tfr_ma_rech90\tsumamnt_ma_rech90\tmedianamnt_ma_rech90\tmedianmarechprebal90\tcnt_da_rech30\tfr_da_rech30\tcnt_da_rech90\tfr_da_rech90\tcnt_loans30\tamnt_loans30\tmaxamnt_loans30\tmedianamnt_loans30\tcnt_loans90\tamnt_loans90\tmaxamnt_loans90\tmedianamnt_loans90\tpayback30\tpayback90\tpcircle\tpdate    209593
dtype: int64

In [12]:
# looking for data

In [13]:
print(df.head())

  \tlabel\tmsisdn\taon\tdaily_decr30\tdaily_decr90\trental30\trental90\tlast_rech_date_ma\tlast_rech_date_da\tlast_rech_amt_ma\tcnt_ma_rech30\tfr_ma_rech30\tsumamnt_ma_rech30\tmedianamnt_ma_rech30\tmedianmarechprebal30\tcnt_ma_rech90\tfr_ma_rech90\tsumamnt_ma_rech90\tmedianamnt_ma_rech90\tmedianmarechprebal90\tcnt_da_rech30\tfr_da_rech30\tcnt_da_rech90\tfr_da_rech90\tcnt_loans30\tamnt_loans30\tmaxamnt_loans30\tmedianamnt_loans30\tcnt_loans90\tamnt_loans90\tmaxamnt_loans90\tmedianamnt_loans90\tpayback30\tpayback90\tpcircle\tpdate
0  1\t0\t21408I70789\t272\t3055.05\t3065.15\t220....
1  2\t1\t76462I70374\t712\t12122\t12124.75\t3691....
2  3\t1\t17943I70372\t535\t1398\t1398\t900.13\t90...
3  4\t1\t55773I70781\t241\t21.228\t21.228\t159.42...
4  5\t1\t03813I82730\t947\t150.6193333\t150.61933...

Format for the plot grid: